{include file="common:head"}
<body class="skin-blue sidebar-mini wysihtml5-supported fixed">
<div class="wrapper">

  {include file="common:header"}
  <!-- Left side column. contains the logo and sidebar -->
 
{include file="common:navbar"}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        设置
        <small>基本设置</small>
      </h1>
      <ol class="breadcrumb">
        <li><button onClick="javascript :history.back(-1);" type="button" class="btn btn-block btn-success btn-sm">返回上一页</button></li>
      </ol>
    </section>

    <!-- Main content -->
      <!-- form start -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
           <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">基本设置</h3>
              <a type="button" href="{:url('developer')}" class="btn btn-sm btn-primary pull-right">开发者模式</a>
            </div>
            <div class="tab-content">
              <!-- Font Awesome Icons -->
              <form  method="post" action="" id='form1'>
              <div class="box-body">
              <!-- 进行数据类型匹配 -->
              <!-- 先匹配字符，数字，文本，在匹配图片。最后匹配枚举 -->
              {volist name="list" id="vo"}
                {switch name="vo.type"}
                  {case value="1|2"}
                  <div class="form-group">
                    <label for="exampleInputEmail1">{$vo.name}</label>
                    <input type="text" class="form-control" id="{$vo.id}" name="{$vo.id}" value="{$vo.value}" placeholder="{$vo.description}" />
                  </div>
                  {/case}
                  {case value="4"}
                  <div class="form-group">
                    <label>{$vo.name}</label><br/>
                    <div class="box-body">
                      <div id="uploader-demo">
                          <!--用来存放item-->
                          <input type="hidden" name="{$vo.id}" class="cover_path">
                          <div  id="cover_path" class="uploader-list">
                            <div class="file-item thumbnail upload-state-done">
                              {notempty name="$vo.value"}
                                <img src="ROOT_PATH{$vo.value}" style="height: 150px;">
                              {/notempty}
                            </div>
                          </div>
                      </div>
                    </div>                   
                    <div class="insertCover">上传封面图</div>
                  </div>
                  {/case}
                  {case value="3"}
                  <div class="form-group">
                    <input type="hidden" id="close" value="{$vo.value}" />
                    <label for="exampleInputPassword1">{$vo.name}</label>
                    <select class="form-control" id="{$vo.id}" name="{$vo.id}">
                      {volist name="$vo.extra" id="data"}
                      <option value="{$key}">{$data}</option>
                      {/volist}
                    </select>
                  </div>
                  {/case}
                {/switch}
              {/volist}                
              <!-- /.box-body -->
              <div class="pull-right">
                <button class="btn btn-success" onclick="javascript:history.back(-1);return false;">返 回</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" onclick="submitInfo()" class="btn btn-primary">确 定</button>
              </div>
            </form>
                
              </div>
              <!-- /#fa-icons -->

            </div>
            <!-- /.tab-content -->
          </div>
          </div>
          <!-- /.nav-tabs-custom -->
          </section>
           </div>
 
  <!-- /.content-wrapper -->
  {include file="common:footer"}



  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<script src="STATIC_PATH/plugins/jQuery/jquery-1.9.1.min.js"></script>
<script src="STATIC_PATH/plugins/jQueryUI/jquery-ui.min.js"></script>
<script type="text/javascript">
  var uploadPictuer     = '{:url('Upload/uploadPicture')}';
  var uploadFlash       = 'STATIC_PATH/plugins/webuploader/dist/Uploader.swf';
  var ueditorUploadPath = '{:url('ueditor/index')}';
</script>
<link rel="stylesheet" type="text/css" href="STATIC_PATH/plugins/webuploader/css/webuploader.css" />
<script type="text/javascript" src="STATIC_PATH/plugins/webuploader/dist/webuploader.js"></script>
<script type="text/javascript" src="STATIC_PATH/plugins/webuploader/dist/onefile.js"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button);
  function submitInfo(){
    $.ajax({
      type: "POST",
      cache: true,
      url: "{:url('admin/config/consumer')}",
      data: $('#form1').serialize(),
      dataType: "json",
      async: false,
      success: function(data) {
        if (data.code) {
          msgok(data.msg);
          location.reload();                  
        } else {
          msgerr(data.msg);
        }
      },
      error: function(request) {
        msgerr("请重试");
      }
    });
  }
</script>
<!-- Bootstrap 3.3.6 -->
<script src="STATIC_PATH/bootstrap/js/bootstrap.min.js"></script>
<!-- Slimscroll -->
<script src="STATIC_PATH/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- AdminLTE App -->
<script src="STATIC_PATH/dist/js/app.min.js"></script>

</body>
</html>






